In [2]:
# Dependencies
import requests
import pandas as pd
import json
import numpy as np
import pprint as pprint
import matplotlib.pyplot as plt
import nasdaqdatalink as nas
import scipy.stats as st
from pathlib import Path

In [4]:
raw_data= pd.read_csv("../Resources/zillow_data.csv")
raw_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2022-06-30,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31
0,61148,0,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,132227.158462,...,513064.819267,521106.942820,526709.757886,529852.723408,532739.517232,536614.909083,539756.911224,542498.833639,544796.246875,548908.778223
1,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,222152.961968,...,483238.626925,487008.197655,487740.644864,486249.969249,484563.782495,483155.040379,481172.398003,478960.458716,477829.581123,478617.619647
2,91940,2,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,112898.162200,...,279587.901824,282543.997782,284092.001252,284287.573977,283684.397980,282690.504761,281117.092555,279305.188642,277752.055947,276950.323631
3,62080,3,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,72326.248058,...,323320.422839,323582.127606,322854.935372,321141.219564,319297.240310,318652.879789,317396.440188,317356.363695,317934.056006,320049.843886
4,92593,4,78660,zip,TX,TX,Pflugerville,"Austin-Round Rock-Georgetown, TX",Travis County,181767.202252,...,463719.895826,463689.682953,460142.037448,454155.731421,447851.951556,441110.142904,434006.030604,427856.292727,422973.617117,419470.057769